<html>
  <head>
    <%-include('__bootstrap.ejs')%>
  </head>
  <body>
    <%-include('__header.ejs')%>
    <div class="container mt-2 p-0" style="height: 100vh">
      <% if (productList && productList.length > 0) { %>
      <table class="table m-0">
        <thead>
          <tr>
            <th>Product Id</th>
            <th>Product Name</th>
            <th>Price</th>
            <th>Category</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <% for(let index in productList){ %>
          <tr>
            <td><%= productList[index].id %></td>
            <td><%= productList[index].title %></td>
            <td><%= productList[index].price %></td>
            <td><%= productList[index].category_name %></td>
            <td>
              <a href="/product/edit-product/<%= productList[index].id %>">
                <button class="btn btn-primary" style="width: 100px">
                  Edit
                </button>
              </a>
            </td>
            <td>
              <a
                onclick="return confirm('Do you want to delete?')"
                href="/product/delete-product/<%= productList[index].id %>"
              >
                <button class="btn btn-outline-danger" style="width: 100px">
                  Delete
                </button>
              </a>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
      <% } else { %>
      <div class="col-12 text-center">
        <h5 class="text-muted">No products available.</h5>
      </div>
      <% } %>
    </div>
  </body>
</html>

<!-- <html>
  <head>
    <%- include('__bootstrap.ejs') %>
  </head>
  <body>
  
    <div class="container">
      <div class="row">
        <% if (productList && productList.length > 0) { %> <% for (let index in
        productList) { %>
        <div class="col-md-3 p-2">
          <div
            class="product d-flex flex-column align-items-center justify-content-center"
            style="box-shadow: 10px 10px 10px grey; height: 120px"
          >
            <h6><%= productList[index].title %></h6>
            <h4 class="text-success"><%= productList[index].price %> Rs.</h4>
            <div
              class="d-flex flex-row justify-content-around"
              style="width: 100%"
            >
              <a
                onclick="return confirm('Do you want to delete?')"
                href="/product/delete/<%= productList[index].id %>"
              >
                <button class="btn btn-outline-danger" style="width: 100px">
                  Delete
                </button>
              </a>
              <a href="/product/edit/<%= productList[index].id %>">
                <button class="btn btn-primary" style="width: 100px">
                  Edit
                </button>
              </a>
            </div>
          </div>
        </div>
        <% } %> <% } else { %>
        <div class="col-12 text-center">
          <h5 class="text-muted">No products available.</h5>
        </div>
        <% } %>
      </div>
    </div>
  </body>
</html> -->
